[submodule "ondewo-nlu-client-python"]
	path = ondewo-nlu-client-python
	url = git@github.com:ondewo/ondewo-nlu-client-python.git
[submodule "ondewo-sip-client-python"]
	path = ondewo-sip-client-python
	url = git@bitbucket.org:ondewo/ondewo-sip-client-python
