exclude: '^$'

fail_fast: false

default_language_version:
  python: python3.10

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      # - id: no-commit-to-branch
      #      args: [--branch, master, --branch, develop]
      - id: trailing-whitespace
      - id: check-added-large-files
        args: [ maxkb=512 ]
      - id: check-ast
      - id: check-json
      - id: pretty-format-json
        args: [ --autofix ]
        exclude: ondewo-nlu-client-python
      - id: check-xml
      - id: check-yaml
      - id: check-symlinks
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-executables-have-shebangs
      - id: name-tests-test
        args: [ '--django' ]        # uncomment to change tests to 'test_*.py' rather '*_test.py'
        exclude: ondewo-nlu-client-python
      - id: requirements-txt-fixer
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        args: [ '--config-file=dockerfiles/code_checks/mypy.ini' ]
        # Use language: system to run Mypy git repo's existing virtual environment
        # instead of mypy's own virtual environment. Necessary to find types-.* packages
        # Replace language: python in your hook definition with language: system.
        # Remove the additional_dependencies line and install Mypy into your
        # environment directly. Now, Pre-commit will not create a separate virtualenv
        # for the hook and will run it in whatever environment you happen to be in when
        # you run git commit or pre-commit run => https://jaredkhan.com/blog/mypy-pre-commit
        language: system
        # use require_serial so that script
        # is only called once per commit
        require_serial: true
        # Print the number of files as sanity-check
        verbose: true
        types: [ python ]

  - repo: https://github.com/hhatto/autopep8
    rev: v2.1.0
    hooks:
      - id: autopep8  # Perform pep8 auto-formatting
        args: [ --max-line-length=120, --in-place ]

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: [ '--config=dockerfiles/code_checks/.flake8' ]
        exclude: ondewo-nlu-client-python

  - repo: https://github.com/milin/giticket
    rev: v1.4
    hooks:
      - id: giticket  # Prepend the commit message with the JIRA ticket
        args: [ '--regex=(?:(?:feature|bugfix|support|hotfix)/)?(OND[0-9]{3}-[0-9]{1,5})[_-][\w-]+',
                '--format=[{ticket}] {commit_msg}',
                '--mode=regex_match' ]
