version: '3'
services:

  bpi:
    # change this to the image from your specific use case, built with the dockerfile
    image: registry-dev.ondewo.com:5000/bpi-example-image:develop
    restart: "no"
    env_file:
    - "ondewo_bpi/example/example.env"
    volumes:
    - "./logging.yaml:/home/ondewo/logging.yaml"
    - "./config.json:/home/ondewo/config.json"
    ports:
      - 50051:50051
    # network_mode: host

#  bpi_sip:
#    image: registry-dev.ondewo.com:5000/bpi-sip-example-image:develop
#    restart: "no"
#    env_file:
#    - "ondewo_bpi_sip/example/example.env"
#    volumes:
#    - "./logging.yaml:/home/ondewo/logging.yaml"
#    - "./config.json:/home/ondewo/config.json"
#    ports:
#      - 50051:50051
#    network_mode: host

  bpi_qa:
    image: registry-dev.ondewo.com:5000/ondewo/bpi-example-image:develop
    restart: "no"
    env_file:
    - "ondewo_bpi_qa/example/example.env"
    volumes:
    - "./logging.yaml:/home/ondewo/logging.yaml"
    - "./config.json:/home/ondewo/config.json"
    ports:
      - 50051:50051
#    network_mode: host
