# The only requirements are included in the ondewo-nlu-client-python and ondewo-logging submodules, make sure they are properly installed.
grpcio
grpcio_reflection
protobuf==3.13.0
python-dotenv
git+https://github.com/ondewo/ondewo-logging-python@1.6.1#egg=ondewo-logging-python
git+https://github.com/ondewo/ondewo-nlu-client-python@develop#egg=ondewo-nlu-client-python
